form > #login {
    background-color:rgb(45, 192, 143);
    padding: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    outline: none;
    padding: 10px 15%;
}

form > #login:hover {
    background-color: rgb(16, 93, 70);
}